@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
/* font-family: 'Bowlby One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.brand2 {
    display: none;
}

.imgInicio {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.img2 {
    display: none;
}

.paralax {
    background-image: url("../images/productos.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.paralaxShop {
    background-image: url("../images/shop.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.paralaxColores {
    background-image: url("../images/colores.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

nav{
    font-family: 'Bowlby One', cursive;
}

.navbar-collapse{
    justify-content: end;
}

.info {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #000000;
}

.borderimg {
    border: 3px solid #000000;
}

.titulo {
    font-family: 'Bowlby One', cursive;
    color: #000000;
}

.tituloscomunes {
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    color: #000000;
}

.botones {
    padding: 8px;
    font-size: 22px;
    background-color: #FF49AB;
    color: #FFFF;
    font-family: 'Bowlby One', cursive;
}

footer {
    background-color: #000000;
    padding: 32px;
    color: #FFFF;
}

.card{
    border-radius: 10px;
}
.card-body-shop {
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

.col img {
    width: 100%;
    height: 320px;
    border-bottom: 3px solid #000000;
}

.div1 {
    position: relative;
}

.imgHover{
    object-fit: cover;
}

.imgCard{
    object-fit: cover;
}

.div1 .div2 {
    position: absolute;  
    top: 0;  
    left: 0;
    opacity: 0;
    transition: .5s;
}

.div1:hover .div2 {
    opacity: 1;
}

.btnShop {
    background-color: #000000;
    color: #FFFF;
    font-family: 'Bowlby One', cursive;
}

.cardColor {
    height: 200px;
    border: 3px solid #000000;
}

.cardColortitulo {
    border: 3px solid #000000;
    padding: 18px;

}

.divColores {
    height: 220px;
    border: 3px solid #000000;
}

.tituloColor {
    border: 3px solid #000000;
}

@media screen and (max-width: 768px) {
    
    .brand1 {
        display: none;
    }

    .brand2 {
        display: flex;
    }

    .img1 {
        display: none;
    }

    .img2{
        display: flex;
    }

}


